* {
  font-family: "Roboto Condensed", sans-serif;
}

.text-shadow{
  text-shadow: -1px -1px 0 rgb(155, 155, 155), 1px -1px 0 rgb(155, 155, 155),
  -1px 1px 0 rgb(155, 155, 155), 1px 1px 0 rgb(155, 155, 155);
text-decoration: 0;
}

.stil1 {
  color: grey;
  font-size: 20px;
}

.infotext {
  font-size: 20px;
}

.bandtext {
  font-size: 15px;
}


.rubrik {
  color: grey;
  font-size: 30px;
  margin-bottom: 40px;
}

a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: 0;
}


.pristext {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
