/* MISC */
#center {
  text-align: center;
}

div#logga {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  left: 4%;
}

.img {
  display: block;

  border: 4px solid rgb(226, 43, 43);
  border-radius: 50%;
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0 0 0 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* LOGGA + KOLUMNER*/

.logo {
  margin: 0px 0 0;
  height: 70px;
  width: 168px;
}

.kol {
  display: block;
  float: left;
  transition: all 0.5s ease;
}

/* HEL BODY WRAPPER */

#bodywrapper {
  min-height: 100%;

  position: relative;
}

#wrapper {
  padding: 75px 0 0 0;
  width: 100%;
}

/* HUVUDSIDAN */
#Bild-Slider {
  margin: 0;
  opacity: 1;
  display: block;
  text-align: center;
  padding-bottom: 64px;
}
.slider-bild {
  width: 100%;
  height: 500px;
}
.slider-titel {
  position: absolute;
  top: 20%;
  left: 45%;
  right: 45%;
}

.långbild-container {
  height: 500px;
  display: flex;
  justify-content: center;
  float: center;
}

.span-långbild {
  width: 100%;
  padding-bottom: 20px;
}
.långbild {
  width: 1000px;
  height: 200px;
  border-radius: 20px;
}

/* SORTIMENT DELEN */
#main {
  padding-bottom: 64px;
}

.sektion {
  max-width: 1000px;
  margin: 0 auto;
}

.group {
  padding: 8px 0;
}

.wrapperalla {
  display: flex;
  flex-wrap: wrap;
}

.spanner {
  margin: 0.7% !important;
  width: 235px;
}

.vinylbild {
  height: 235px;
  width: 235px;
}

.underlinje {
  border-bottom: 3px solid;
  padding-bottom: 75px;
}

.faktaruta {
  height: 80px;
  margin: 10px 0;
}

.beskrivning {
  height: 50px;
  margin: 0 0 5px 0;
  overflow: hidden;
}

.band {
  margin-left: 0;
  height: 40px;
  overflow: hidden;
}

/* FOOTER */

#footer-wrapper {
  margin: 0 auto;
  padding: 20px 0;
  float: left;
  width: 100%;
  min-height: 300px;
  bottom: 0;
  background-color: black;
}

/* MEDIA QUERIES (funkar typ) */

@media (max-width: 996px) {
  .spanner {
    width: 200px;
    margin: 0.7% !important;
  }
  .vinylbild {
    width: 200px;
    height: 200px;
  }
  .sektion {
    justify-content: center;
  }
}

@media (max-width: 848px) {
  .spanner {
    width: 175px;
    margin: 0.7% !important;
  }
  .vinylbild {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 653px) {
  #navbar {
    flex-direction: row;
  }
}

@media (max-width: 1000px) {
  .långbild {
    width: 900px;
  }
}
@media (max-width: 900px) {
  .långbild {
    width: 800px;
  }
  .slider-bild {
    height: 400px;
  }
}
@media (max-width: 800px) {
  .långbild {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .långbild {
    width: 600px;
  }
  .slider-bild {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .långbild {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .långbild {
    width: 420px;
  }
  .slider-bild {
    height: 200px;
  }
}
@media (max-width: 400px) {
  .långbild {
    width: 380px;
  }
  .slider-bild {
    height: 200px;
  }
}

/* NAVBAR (tagen från internet) */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
    overflow: hidden;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
